@model Employee

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <!-- Page Header-->
    <div class="page-header no-margin-bottom">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Work Place Form</h2>
        </div>
    </div>

    <!-- Breadcrumb-->
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        </ul>
    </div>
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-12">
                    <div class="block">
                        <div class="title"><strong class="d-block">Old Work Place List</strong><span class="d-block">All data about employee`s workplace</span></div>
                        <div class="block-body">
                            <p>
                                <a asp-action="Create" asp-controller="OldWorkPlaces" asp-route-id="@Model.Id">Create Old Work Place</a>
                            </p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            FireDate
                                        </th>
                                        <th>
                                            HireDate
                                        </th>
                                        <th>
                                            FireReason
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OldWorkPlaces)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FireDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HireDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FireReason)
                                            </td>

                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


